
.container {
  margin: 0px;
}

/* navgivation styles */

.nav {
  display: flex;
  justify-content: space-around;
  padding: 35px;
  font-size: 1.1em;
}

.nav-link {
  height: 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom: 0.5s;
}

.nav-link a {
  color:black;
  transition: color 0.5s;
}
/* navigation styles end */

/* nav hover styles */
.nav-link: hover {
  border-bottom: 1px solid #ff0000;
}

.nav-link a: hover {
  color: #ff0000;
}
/* nav hover styles end */

/* logo styles */
.logo-wrapper {
  display: flex;
  position: relative;

}

.sf_logo {
  margin-left: 30%;
  margin-right: 50px;
}

/* graphic title */
.intro-title {
  display: block;
  text-align: center;
  width: 50%
  max-height: 50%;
  margin-bottom: 20px;
}

.body {
  font-size: 17px;
  line-height: 2.0em;
  margin: 50px;
}

/* results page is tweaking, made an ID for now */
#intro2 {
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;

}
.intro {
  margin-bottom: 50px;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

/* line breaks */
.hr {
    border: 1px solid black;
    margin: auto;
    width: 50%
  }
